<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Employees with High Salaries</h1>
    <ul>
        {% for employee in highest_salary_employees %}
            <li>{{ employee.name }} - Salary: {{ employee.salary }}</li>
        {% empty %}
            <li>No employees found with salaries above $50,000.</li>
        {% endfor %}
    </ul>

</body>
</html>