<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'CSS/styles.css' %}">
    <script src="{% static 'JS/script.js' %}"></script>
</head>
<body>
    <div class="container">
        <img src="{% static 'Images/nature.png' %}" alt="nature">
        <p>Time: {{current_time}}</p>
        <p>Time: {{greeting}}</p>

        <script>
            document.write("This is an inline JS content")
        </script>

    </div>
</body>
</html>